/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Default Styling */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;
	scrollbar-color: #fe5231;
}

/* Navigation Section Styling  */

.navigation-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fe5231;
	padding: 15px 100px;
	z-index: 10;
	position: sticky;
	top: 0px;
}
.logo h1 {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	color: whitesmoke;
}

.menu a {
	padding: 5px 20px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: whitesmoke;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}
.menu a:hover {
	background-color: white;
	color: #fe5231;
	transition: all 0.4s ease-in-out;
	padding: 10px 25px;
}

.contact a {
	padding: 10px 30px;
	background-color: whitesmoke;
	color: #fe5231;
	text-decoration: none;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	transition: all 0.4s ease-in-out;
}

.contact a:hover {
	background-color: transparent;
	border: 3px solid whitesmoke;
	transition: all 0.4s ease-in-out;
	color: whitesmoke;
}

/* Hero Section Styling */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
}

.hero h1 {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 60px;
	line-height: 130%;
	color: #575757;
}

.head-text {
	background: -webkit-linear-gradient(
		88.33deg,
		#fba24f -7.64%,
		#ff1e1e 145.94%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	letter-spacing: -0.02em;
	color: #828282;
	width: 499px;
	margin-bottom: 50px;
}

.hero a,
.about a {
	background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
	width: 192px;
	height: 68px;
	padding: 24px 32px;
	border-radius: 100px;
	box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	color: #ffffff;
	text-decoration: none;
}
.hero a:hover,
.about a:hover {
	background: linear-gradient(180deg, #fba24f -7.64%, #ff1e1e 145.94%);
	transform: scale(1.01);
	transition: all 0.4s ease-in-out;
}
.hero .hero-img {
	width: 658.26px;
	height: 747.23px;
	padding-left: 30px;
}

/* About Section Styling  */
.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(./images/shapes/7.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px 200px;
	padding-top: 64px;
}

.about img {
	width: 338px;
	height: 536px;
}

.about-details {
	width: 50%;
}
.about h1 {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 40px;
	line-height: 54px;
	color: #707070;
	width: 444px;
	margin-bottom: 30px;
}

.about p {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #18191f;
	padding-bottom: 50px;
	width: 500px;
	margin-bottom: 50px;
}

/* Recipie Section Styling  */
.recipie {
	padding: 80px 100px;
}
.recipie .recipie-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.recipie .recipie-header h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-transform: capitalize;
	margin-bottom: 30px;
	color: #676767;
}
.recipie .recipie-header P {
	width: 706px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #252525;
	text-align: center;
	margin-bottom: 30px;
}

.recipies {
	display: flex;
	justify-content: center;
	align-items: center;
}
.recipies .recipie-1,
.recipies .recipie-2,
.recipies .recipie-3 {
	width: 377px;
	height: 490px;
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	padding: 20px;
}
.recipie-1:hover,
.recipie-2:hover,
.recipie-3:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.24);
	background-color: #fe5231;
	transform: scale(1.01);
	transition: all 0.4s ease-in;
}
.recipie-1:hover h1,
.recipie-2:hover h1,
.recipie-3:hover h1 {
	color: whitesmoke;
}
.recipie-1:hover p,
.recipie-2:hover p,
.recipie-3:hover p {
	color: whitesmoke;
}

.recipie-1:hover a,
.recipie-2:hover a,
.recipie-3:hover a {
	background-color: whitesmoke;
	color: #fe5231;
}

.recipies .recipie-2 {
	margin: 0px 54px;
}
.recipie-1 img,
.recipie-2 img,
.recipie-3 img {
	width: 363px;
	height: 256px;
	margin-bottom: 30px;
	border-radius: 20px;
}
.recipie-1 h1,
.recipie-2 h1,
.recipie-3 h1 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 40px;
	color: #18191f;
}
.recipie-1 p,
.recipie-2 p,
.recipie-3 p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #18191f;
	margin-bottom: 20px;
}
.recipie-1 a,
.recipie-2 a,
.recipie-3 a {
	padding: 10px 30px;
	background-color: #fe5231;
	color: whitesmoke;
	text-decoration: none;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	transition: all 0.4s ease-in-out;
}

/* Achievements section styling  */
.achievement {
	padding: 80px 100px;
}
.achievement .container {
	padding: 64px 165px;
	width: 1000px;
	height: 226px;
	background: #fe5231;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.205);
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.achievement .container:hover {
	transform: scale(1.015);
	transition: all 0.4s ease-in-out;
	transform: scale3d(1.01);
}

.achievement .subscriber h1,
.followers h1,
.likes h1 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 64px;
	color: whitesmoke;
	margin-bottom: 15px;
}
.subscriber p,
.followers p,
.likes p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: whitesmoke;
}

/* Footer Section Styling */
footer {
	margin-top: 50px;
	padding: 80px 100px;
	background-color: #0b0d17;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer span {
	color: #ff1e1e;
}
footer h1 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 41px;
	color: whitesmoke;
	margin-bottom: 30px;
}
footer p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
}
